.flight,.listTile {
	display: flex;
	width: 100%;
}
.listTile {
	position: fixed;
}
.listTile .prop{
	background-color: #616161;
	color: #FAFAFA;
}
.flight .prop {
	background-color: #424242;
	color: #FAFAFA;
	border-bottom: 1px solid #757575;
}
.flight .prop,.listTile .prop {
	font-size: 13px;
	flex-grow: 1;
	white-space: nowrap;
	flex-shrink: 0;
	flex: 1;
	text-align: center;
}