

.am_black_font {
	color: #0C0C0D;
}
.am_light_bg {
	background-color: #EFEFF7;
}
.am_white_bg {
	background-color: #FFFFFF;
}
.am_theme_font {
	color: #4a148c;
}
.am_theme_bg {
	background-color: #4a148c;
}
.am_theme_dep_font {
	color: #12005e;
}
.am_theme_dep_bg {
	background-color: #12005e;
}
.am_theme_light_font {
	color: #7c43db;
}
.am_theme_light_bg {
	background-color: #7c43db;
}

.am_sm_font {
	font-size: 13px;
}

.am_normal_font {
	font-size: 16px;
}

.am_header_font {
	font-size: 28px;
}